/* Color Palette */
:root {
    --primary-bg-color: #1a1a1a; /* Dark background color */
    --secondary-bg-color: #333;  /* Darker section background color */
    --text-color: #ffffff;       /* White text color */
    --accent-color: #ff9900;     /* Accent color */
}

/* Reset some default styles */
body, h1, p, ul, nav {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-bg-color);
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 28px;
    color: var(--text-color);
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Styling the navigation menu */
nav {
    background-color: var(--secondary-bg-color);
    text-align: center;
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: var(--accent-color);
}

/* Style the game list */
.game-list {
    background-color: var(--secondary-bg-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.game-list p {
    font-size: 18px;
    margin-bottom: 10px;
}

ul {
    color: #666666;
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: var(--accent-color);
}

#copyright {
    color: #666666;
    text-align: center;
    margin: 20px 0;
    font-size: 18px;
}

p {
    color: #666666;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}

h3 {
    text-align: center;
}
