/* Color Palette */
:root {
    --primary-bg-color: #333333; /* Primary Background Color */
    --text-color: #666666; /* All the text color */
    --button-bg-color: #007bff; /* Button Background Color */
    --button-text-color: #fff;
    --hover-bg-color: #0056b3; /* Darker Button Background Color on hover */
}

/* Apply some basic styling to the page */
body {
    font-family: Arial, sans-serif;
    background-color:var(--primary-bg-color); /* Gradient from blue to darker blue */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: var(--text-color);
}

p {
    text-align: center;
    font-size: 18px;
    color: var(--text-color);
}

#copyright {
    color: var(--text-color);
    text-align: center;
    margin: 20px 0;
    font-size: 18px;
}

/* Style the input field and button */
#guessInput {
    display: block;
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#guessSubmit {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#guessSubmit:hover {
    background-color: var(--hover-bg-color);
}

/* Style the message text */
.message {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
    margin-top: 20px;
}
